#headertitle { 
      text-align: center;
  font-family: 'Fredoka One', cursive;
  color: #EDF5E1;
font-size: 50px;
  -webkit-text-stroke: 1px #05386B;
}
#headertitle:hover {
font-family: 'Fredoka One', cursive;
  color: #05386B;  
  
}

#headercontainer { 
  background-color: #5CDB95;
  padding: 20px 50px;
}
#bodycontainer {
  font-family: 'Nunito', serif;
  padding: 0px 50px; 
}

#buttoncss {
  font-family: 'Fredoka One', cursive;
  background-color: #8EE4AF;
  color: #05386B;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#buttoncss:hover {
  font-family: 'Fredoka One', cursive;
  background-color: #05386B;
  color: white;
}
